@media (min-width: 678px) and (max-width: 990px) {
	.menu {
		display: none;
	}
	
	nav {
      position: static !important;
      background: none !important;
      right: 0 !important;
      margin: 0 18px;
    }
	
	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: end !important;
		align-items: center !important;
		width: 100% !important;
	}
	
	#hero {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#hero p, #hero h1{
		text-align: center;
	}
	#hero h1{
		line-height: 60px;
	}

		.e{
			display: flex;
			align-items: center;
			width: 100%;
		}
		.skills{
			display: flex;
		}
.projection{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
}

@media (min-width: 991px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1440px) {
	.projection{
	grid-template-columns: repeat(2, 1fr);
	}
}